# Criação de um conjunto de csv para a utilização de dados a nível mundial

In [1]:
import pandas as pd

In [2]:
def read_csv(filename):
    df = pd.read_csv(filename)
    return df

Primeiramente foi realizada a leitura de um csv chamado 20200512.csv com dados de cada país sobre o número de casos de COVID-19 e de fatalidades que provocou até ao dia 11-05-2020.

In [3]:
df = read_csv(r'C:\Windows\System32\0 SIG\MapaData\20200512.csv')
print(df)

          dateRep  day  month  year  cases  deaths countriesAndTerritories  \
0      11/05/2020   11      5  2020    369       5             Afghanistan
1      10/05/2020   10      5  2020    255       6             Afghanistan
2      09/05/2020    9      5  2020    215       3             Afghanistan
3      08/05/2020    8      5  2020    171       2             Afghanistan
4      07/05/2020    7      5  2020    168       9             Afghanistan
...           ...  ...    ...   ...    ...     ...                     ...
16317  25/03/2020   25      3  2020      0       0                Zimbabwe
16318  24/03/2020   24      3  2020      0       1                Zimbabwe
16319  23/03/2020   23      3  2020      0       0                Zimbabwe
16320  22/03/2020   22      3  2020      1       0                Zimbabwe
16321  21/03/2020   21      3  2020      1       0                Zimbabwe

      geoId countryterritoryCode  popData2018 continentExp
0        AF                  AFG   37172386.0         Asia
1        AF                  AFG   37172386.0         Asia
2        AF                  AFG   37172386.0         Asia
3        AF                  AFG   37172386.0         Asia
4        AF                  AFG   37172386.0         Asia
...     ...                  ...          ...          ...
16317    ZW                  ZWE   14439018.0       Africa
16318    ZW                  ZWE   14439018.0       Africa
16319    ZW                  ZWE   14439018.0       Africa
16320    ZW                  ZWE   14439018.0       Africa
16321    ZW                  ZWE   14439018.0       Africa

[16322 rows x 11 columns]

In [4]:
novo_df = df.drop_duplicates(subset='countryterritoryCode', keep='first')

novo_df.sort_values('countryterritoryCode' , inplace=True)

print(novo_df)

          dateRep  day  month  year  cases  deaths countriesAndTerritories  \
714    11/05/2020   11      5  2020      0       0                   Aruba
0      11/05/2020   11      5  2020    369       5             Afghanistan
374    11/05/2020   11      5  2020      2       0                  Angola
123    11/05/2020   11      5  2020     12       0                 Albania
315    11/05/2020   11      5  2020      1       0                 Andorra
...           ...  ...    ...   ...    ...     ...                     ...
16184  11/05/2020   11      5  2020     17       1                   Yemen
13732  11/05/2020   11      5  2020    595       8            South_Africa
16216  11/05/2020   11      5  2020     15       0                  Zambia
16270  11/05/2020   11      5  2020      0       0                Zimbabwe
425    11/05/2020   11      5  2020      0       0                Anguilla

      geoId countryterritoryCode  popData2018 continentExp
714      AW                  ABW     105845.0      America
0        AF                  AFG   37172386.0         Asia
374      AO                  AGO   30809762.0       Africa
123      AL                  ALB    2866376.0       Europe
315      AD                  AND      77006.0       Europe
...     ...                  ...          ...          ...
16184    YE                  YEM   28498687.0         Asia
13732    ZA                  ZAF   57779622.0       Africa
16216    ZM                  ZMB   17351822.0       Africa
16270    ZW                  ZWE   14439018.0       Africa
425      AI                  NaN          NaN      America

[205 rows x 11 columns]

C:\OSGEO4~1\apps\Python37\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [5]:
df_4 = novo_df['countriesAndTerritories']

print(df_4)

df_4 = df_4.drop_duplicates()
df_4 = df_4.reset_index()

print(df_4)

714             Aruba
0         Afghanistan
374            Angola
123           Albania
315           Andorra
             ...
16184           Yemen
13732    South_Africa
16216          Zambia
16270        Zimbabwe
425          Anguilla
Name: countriesAndTerritories, Length: 205, dtype: object
     index countriesAndTerritories
0      714                   Aruba
1        0             Afghanistan
2      374                  Angola
3      123                 Albania
4      315                 Andorra
..     ...                     ...
200  16184                   Yemen
201  13732            South_Africa
202  16216                  Zambia
203  16270                Zimbabwe
204    425                Anguilla

[205 rows x 2 columns]

In [6]:
df_2 = df.groupby(['countryterritoryCode'])['cases'].sum()
df_2 = df_2.reset_index()

print(df_2)

df_3 = df.groupby(['countryterritoryCode'])['deaths'].sum()
df_3 = df_3.reset_index()

print(df_3)

    countryterritoryCode  cases
0                    ABW    101
1                    AFG   4402
2                    AGO     45
3                    ALB    868
4                    AND    755
..                   ...    ...
199                  XKX    870
200                  YEM     51
201                  ZAF  10015
202                  ZMB    267
203                  ZWE     36

[204 rows x 2 columns]
    countryterritoryCode  deaths
0                    ABW       3
1                    AFG     120
2                    AGO       2
3                    ALB      31
4                    AND      48
..                   ...     ...
199                  XKX      28
200                  YEM       8
201                  ZAF     194
202                  ZMB       7
203                  ZWE       4

[204 rows x 2 columns]

In [7]:
df_2['deaths'] = df_3['deaths']

df_2['country'] = df_4['countriesAndTerritories']

print(df_2)

    countryterritoryCode  cases  deaths       country
0                    ABW    101       3         Aruba
1                    AFG   4402     120   Afghanistan
2                    AGO     45       2        Angola
3                    ALB    868      31       Albania
4                    AND    755      48       Andorra
..                   ...    ...     ...           ...
199                  XKX    870      28        Kosovo
200                  YEM     51       8         Yemen
201                  ZAF  10015     194  South_Africa
202                  ZMB    267       7        Zambia
203                  ZWE     36       4      Zimbabwe

[204 rows x 4 columns]

In [8]:
df_2.to_csv(r'C:\Windows\System32\0 SIG\MapaData\World_Total.csv', index=False)

print(df_2)

    countryterritoryCode  cases  deaths       country
0                    ABW    101       3         Aruba
1                    AFG   4402     120   Afghanistan
2                    AGO     45       2        Angola
3                    ALB    868      31       Albania
4                    AND    755      48       Andorra
..                   ...    ...     ...           ...
199                  XKX    870      28        Kosovo
200                  YEM     51       8         Yemen
201                  ZAF  10015     194  South_Africa
202                  ZMB    267       7        Zambia
203                  ZWE     36       4      Zimbabwe

[204 rows x 4 columns]

Foi criado um csv chamado World_Total.csv com o nome de cada país, o número acumulado de casos de COVID-19 até ao dia 11-05-2020 e o número de fatalidades que provocou neles.

In [9]:
required_df =df.loc[df['dateRep'] == '11/05/2020']
print(required_df)

          dateRep  day  month  year  cases  deaths countriesAndTerritories  \
0      11/05/2020   11      5  2020    369       5             Afghanistan
123    11/05/2020   11      5  2020     12       0                 Albania
187    11/05/2020   11      5  2020    165       8                 Algeria
315    11/05/2020   11      5  2020      1       0                 Andorra
374    11/05/2020   11      5  2020      2       0                  Angola
...           ...  ...    ...   ...    ...     ...                     ...
16039  11/05/2020   11      5  2020      0       0                 Vietnam
16168  11/05/2020   11      5  2020      0       0          Western_Sahara
16184  11/05/2020   11      5  2020     17       1                   Yemen
16216  11/05/2020   11      5  2020     15       0                  Zambia
16270  11/05/2020   11      5  2020      0       0                Zimbabwe

      geoId countryterritoryCode  popData2018 continentExp
0        AF                  AFG   37172386.0         Asia
123      AL                  ALB    2866376.0       Europe
187      DZ                  DZA   42228429.0       Africa
315      AD                  AND      77006.0       Europe
374      AO                  AGO   30809762.0       Africa
...     ...                  ...          ...          ...
16039    VN                  VNM   95540395.0         Asia
16168    EH                  NaN          NaN       Africa
16184    YE                  YEM   28498687.0         Asia
16216    ZM                  ZMB   17351822.0       Africa
16270    ZW                  ZWE   14439018.0       Africa

[207 rows x 11 columns]

In [10]:
required_df =df.loc[df['dateRep'] == '11/05/2020']
print(required_df)

          dateRep  day  month  year  cases  deaths countriesAndTerritories  \
0      11/05/2020   11      5  2020    369       5             Afghanistan
123    11/05/2020   11      5  2020     12       0                 Albania
187    11/05/2020   11      5  2020    165       8                 Algeria
315    11/05/2020   11      5  2020      1       0                 Andorra
374    11/05/2020   11      5  2020      2       0                  Angola
...           ...  ...    ...   ...    ...     ...                     ...
16039  11/05/2020   11      5  2020      0       0                 Vietnam
16168  11/05/2020   11      5  2020      0       0          Western_Sahara
16184  11/05/2020   11      5  2020     17       1                   Yemen
16216  11/05/2020   11      5  2020     15       0                  Zambia
16270  11/05/2020   11      5  2020      0       0                Zimbabwe

      geoId countryterritoryCode  popData2018 continentExp
0        AF                  AFG   37172386.0         Asia
123      AL                  ALB    2866376.0       Europe
187      DZ                  DZA   42228429.0       Africa
315      AD                  AND      77006.0       Europe
374      AO                  AGO   30809762.0       Africa
...     ...                  ...          ...          ...
16039    VN                  VNM   95540395.0         Asia
16168    EH                  NaN          NaN       Africa
16184    YE                  YEM   28498687.0         Asia
16216    ZM                  ZMB   17351822.0       Africa
16270    ZW                  ZWE   14439018.0       Africa

[207 rows x 11 columns]

In [11]:
required_df.to_csv(r'C:\Windows\System32\0 SIG\MapaData\World.csv', index=False)

print(required_df)

          dateRep  day  month  year  cases  deaths countriesAndTerritories  \
0      11/05/2020   11      5  2020    369       5             Afghanistan
123    11/05/2020   11      5  2020     12       0                 Albania
187    11/05/2020   11      5  2020    165       8                 Algeria
315    11/05/2020   11      5  2020      1       0                 Andorra
374    11/05/2020   11      5  2020      2       0                  Angola
...           ...  ...    ...   ...    ...     ...                     ...
16039  11/05/2020   11      5  2020      0       0                 Vietnam
16168  11/05/2020   11      5  2020      0       0          Western_Sahara
16184  11/05/2020   11      5  2020     17       1                   Yemen
16216  11/05/2020   11      5  2020     15       0                  Zambia
16270  11/05/2020   11      5  2020      0       0                Zimbabwe

      geoId countryterritoryCode  popData2018 continentExp
0        AF                  AFG   37172386.0         Asia
123      AL                  ALB    2866376.0       Europe
187      DZ                  DZA   42228429.0       Africa
315      AD                  AND      77006.0       Europe
374      AO                  AGO   30809762.0       Africa
...     ...                  ...          ...          ...
16039    VN                  VNM   95540395.0         Asia
16168    EH                  NaN          NaN       Africa
16184    YE                  YEM   28498687.0         Asia
16216    ZM                  ZMB   17351822.0       Africa
16270    ZW                  ZWE   14439018.0       Africa

[207 rows x 11 columns]

Foi criado um csv chamado World.csv com os dados relativos ao dia 11-05-2020 em cada país do dataset incial.