# Criação de um conjunto de csv para a utilização na criação dos mapas, dos gráficos e das previsões

In [1]:
import pandas as pd

In [2]:
def read_csv(filename):
    df = pd.read_csv(filename)
    return df

Primeiramente foi realizada a leitura de csv com dados sobre as diferentes localidades e o número de casos associado a cada uma delas.

In [3]:
input = read_csv(r'C:\Windows\System32\0 SIG\AU_adm\AUS_adm2.csv')
print(input)

      OBJECTID  ID_0  ISO     NAME_0  ID_1                        NAME_1  \
0            1    15  AUS  Australia     1   Ashmore and Cartier Islands
1            2    15  AUS  Australia     2  Australian Capital Territory
2            3    15  AUS  Australia     2  Australian Capital Territory
3            4    15  AUS  Australia     2  Australian Capital Territory
4            5    15  AUS  Australia     2  Australian Capital Territory
...        ...   ...  ...        ...   ...                           ...
1390      1391    15  AUS  Australia    11             Western Australia
1391      1392    15  AUS  Australia    11             Western Australia
1392      1393    15  AUS  Australia    11             Western Australia
1393      1394    15  AUS  Australia    11             Western Australia
1394      1395    15  AUS  Australia    11             Western Australia

      ID_2                  NAME_2   TYPE_2 ENGTYPE_2  NL_NAME_2 VARNAME_2
0        1                   n.a.1  Unknown   Unknown        NaN       NaN
1        2                   Acton  Unknown   Unknown        NaN       NaN
2        3                 Ainslie  Unknown   Unknown        NaN       NaN
3        4                  Amaroo  Unknown   Unknown        NaN       NaN
4        5                  Aranda  Unknown   Unknown        NaN       NaN
...    ...                     ...      ...       ...        ...       ...
1390  1391             Wyalkatchem    Shire     Shire        NaN       NaN
1391  1392  Wyndham-East Kimberley    Shire     Shire        NaN       NaN
1392  1393                  Yalgoo    Shire     Shire        NaN       NaN
1393  1394                 Yilgarn    Shire     Shire        NaN       NaN
1394  1395                    York    Shire     Shire        NaN       NaN

[1395 rows x 12 columns]

In [4]:
print(input.head(5))

   OBJECTID  ID_0  ISO     NAME_0  ID_1                        NAME_1  ID_2  \
0         1    15  AUS  Australia     1   Ashmore and Cartier Islands     1
1         2    15  AUS  Australia     2  Australian Capital Territory     2
2         3    15  AUS  Australia     2  Australian Capital Territory     3
3         4    15  AUS  Australia     2  Australian Capital Territory     4
4         5    15  AUS  Australia     2  Australian Capital Territory     5

    NAME_2   TYPE_2 ENGTYPE_2  NL_NAME_2 VARNAME_2
0    n.a.1  Unknown   Unknown        NaN       NaN
1    Acton  Unknown   Unknown        NaN       NaN
2  Ainslie  Unknown   Unknown        NaN       NaN
3   Amaroo  Unknown   Unknown        NaN       NaN
4   Aranda  Unknown   Unknown        NaN       NaN

In [5]:
df = pd.read_csv(r"C:\Windows\System32\0 SIG\AU_adm\AUS_adm2.csv")
print(df.head(5))

   OBJECTID  ID_0  ISO     NAME_0  ID_1                        NAME_1  ID_2  \
0         1    15  AUS  Australia     1   Ashmore and Cartier Islands     1
1         2    15  AUS  Australia     2  Australian Capital Territory     2
2         3    15  AUS  Australia     2  Australian Capital Territory     3
3         4    15  AUS  Australia     2  Australian Capital Territory     4
4         5    15  AUS  Australia     2  Australian Capital Territory     5

    NAME_2   TYPE_2 ENGTYPE_2  NL_NAME_2 VARNAME_2
0    n.a.1  Unknown   Unknown        NaN       NaN
1    Acton  Unknown   Unknown        NaN       NaN
2  Ainslie  Unknown   Unknown        NaN       NaN
3   Amaroo  Unknown   Unknown        NaN       NaN
4   Aranda  Unknown   Unknown        NaN       NaN

In [6]:
df1 = pd.read_csv(r"C:\Windows\System32\0 SIG\AU_adm\AUS_adm2.csv", skiprows = 1)
print(df1.head(5))

   1  15  AUS  Australia  1.1   Ashmore and Cartier Islands  1.2    n.a.1  \
0  2  15  AUS  Australia    2  Australian Capital Territory    2    Acton
1  3  15  AUS  Australia    2  Australian Capital Territory    3  Ainslie
2  4  15  AUS  Australia    2  Australian Capital Territory    4   Amaroo
3  5  15  AUS  Australia    2  Australian Capital Territory    5   Aranda
4  6  15  AUS  Australia    2  Australian Capital Territory    6    Banks

   Unknown Unknown.1  NA NA.1
0  Unknown   Unknown NaN  NaN
1  Unknown   Unknown NaN  NaN
2  Unknown   Unknown NaN  NaN
3  Unknown   Unknown NaN  NaN
4  Unknown   Unknown NaN  NaN

In [7]:
print(df['NAME_2'].dtypes)

object

In [8]:
print(df[['NAME_2', 'TYPE_2']])

                      NAME_2   TYPE_2
0                      n.a.1  Unknown
1                      Acton  Unknown
2                    Ainslie  Unknown
3                     Amaroo  Unknown
4                     Aranda  Unknown
...                      ...      ...
1390             Wyalkatchem    Shire
1391  Wyndham-East Kimberley    Shire
1392                  Yalgoo    Shire
1393                 Yilgarn    Shire
1394                    York    Shire

[1395 rows x 2 columns]

In [9]:
print(df['NAME_2'][1])

Acton

In [10]:
df = read_csv(r'C:\Windows\System32\0 SIG\Australian_Cases_by_LGA.csv')
print(df)

     OBJECTID  LGA_CODE19                   LGA_NAME19  \
0           1       10050                   Albury (C)
1           2       10130        Armidale Regional (A)
2           3       10250                  Ballina (A)
3           4       10300                Balranald (A)
4           5       10470        Bathurst Regional (A)
..        ...         ...                          ...
539       540       74660              West Arnhem (R)
540       541       74680                West Daly (R)
541       542       79399            Unincorporated NT
542       543       89399           Unincorporated ACT
543       544       99399  Unincorp. Other Territories

                       STE_NAME16  AREASQKM19  Population  Cases  \
0                 New South Wales    305.9459     53767.0    8.0
1                 New South Wales   8620.6990     30707.0    4.0
2                 New South Wales    484.9389     44208.0    8.0
3                 New South Wales  21690.6753      2340.0    NaN
4                 New South Wales   3817.8646     43206.0    9.0
..                            ...         ...         ...    ...
539            Northern Territory  49675.0343      6902.0    NaN
540            Northern Territory  14069.6979      3649.0    NaN
541            Northern Territory  19789.9972      7379.0    NaN
542  Australian Capital Territory   2358.1720    420960.0    NaN
543             Other Territories    256.3162         NaN    NaN

                LastUpdated  Shape__Area  Shape__Length Cases_Str  PopNorm
0    2020/04/15 00:00:00+00     0.030587       1.260390         8   6720.0
1    2020/04/17 00:00:00+00     0.808783       6.883743         4   7676.0
2    2020/04/14 00:00:00+00     0.044858       1.422609         8   5526.0
3    1970/01/01 00:00:00+00     2.115393      11.197395       NaN      NaN
4    2020/03/29 00:00:00+00     0.370170       5.242297         9   4800.0
..                      ...          ...            ...       ...      ...
539  1970/01/01 00:00:00+00     4.131012      22.885151       NaN      NaN
540  1970/01/01 00:00:00+00     1.178221       7.483037       NaN      NaN
541  1970/01/01 00:00:00+00     1.649671      19.064581       NaN      NaN
542  1970/01/01 00:00:00+00     0.234257       2.967954       NaN      NaN
543  1970/01/01 00:00:00+00     0.022676       2.845384       NaN      NaN

[544 rows x 12 columns]

In [11]:
df_editado = df['LGA_NAME19'].str.replace(r"\s\(.*\)","")
print(df_editado)

0                           Albury
1                Armidale Regional
2                          Ballina
3                        Balranald
4                Bathurst Regional
                  ...
539                    West Arnhem
540                      West Daly
541              Unincorporated NT
542             Unincorporated ACT
543    Unincorp. Other Territories
Name: LGA_NAME19, Length: 544, dtype: object

In [12]:
df_editado2 = df['Cases'].fillna(0)
print(df_editado2)

0      8.0
1      4.0
2      8.0
3      0.0
4      9.0
      ...
539    0.0
540    0.0
541    0.0
542    0.0
543    0.0
Name: Cases, Length: 544, dtype: float64

In [13]:
df['Nomes'] = df_editado
df['Casos'] = df_editado2
df.to_csv(r'C:\Windows\System32\0 SIG\Australian_Cases.csv', index=False)

Foi criado um dataset de nome Australian_Cases.csv que possui os dados do dataset inicial, e lhe foram adicionados duas colunas. Uma relativa ao nome da localidade mas sem ter entre parentesis qual o tipo e outra com o número de casos, sendo que os territórios com NaN se alterou para apresentarem o valor de 0.

In [14]:
df_novo = read_csv(r'C:\Windows\System32\0 SIG\Australian_Cases.csv')
print(df_novo)

     OBJECTID  LGA_CODE19                   LGA_NAME19  \
0           1       10050                   Albury (C)
1           2       10130        Armidale Regional (A)
2           3       10250                  Ballina (A)
3           4       10300                Balranald (A)
4           5       10470        Bathurst Regional (A)
..        ...         ...                          ...
539       540       74660              West Arnhem (R)
540       541       74680                West Daly (R)
541       542       79399            Unincorporated NT
542       543       89399           Unincorporated ACT
543       544       99399  Unincorp. Other Territories

                       STE_NAME16  AREASQKM19  Population  Cases  \
0                 New South Wales    305.9459     53767.0    8.0
1                 New South Wales   8620.6990     30707.0    4.0
2                 New South Wales    484.9389     44208.0    8.0
3                 New South Wales  21690.6753      2340.0    NaN
4                 New South Wales   3817.8646     43206.0    9.0
..                            ...         ...         ...    ...
539            Northern Territory  49675.0343      6902.0    NaN
540            Northern Territory  14069.6979      3649.0    NaN
541            Northern Territory  19789.9972      7379.0    NaN
542  Australian Capital Territory   2358.1720    420960.0    NaN
543             Other Territories    256.3162         NaN    NaN

                LastUpdated  Shape__Area  Shape__Length Cases_Str  PopNorm  \
0    2020/04/15 00:00:00+00     0.030587       1.260390         8   6720.0
1    2020/04/17 00:00:00+00     0.808783       6.883743         4   7676.0
2    2020/04/14 00:00:00+00     0.044858       1.422609         8   5526.0
3    1970/01/01 00:00:00+00     2.115393      11.197395       NaN      NaN
4    2020/03/29 00:00:00+00     0.370170       5.242297         9   4800.0
..                      ...          ...            ...       ...      ...
539  1970/01/01 00:00:00+00     4.131012      22.885151       NaN      NaN
540  1970/01/01 00:00:00+00     1.178221       7.483037       NaN      NaN
541  1970/01/01 00:00:00+00     1.649671      19.064581       NaN      NaN
542  1970/01/01 00:00:00+00     0.234257       2.967954       NaN      NaN
543  1970/01/01 00:00:00+00     0.022676       2.845384       NaN      NaN

                           Nomes  Casos
0                         Albury    8.0
1              Armidale Regional    4.0
2                        Ballina    8.0
3                      Balranald    0.0
4              Bathurst Regional    9.0
..                           ...    ...
539                  West Arnhem    0.0
540                    West Daly    0.0
541            Unincorporated NT    0.0
542           Unincorporated ACT    0.0
543  Unincorp. Other Territories    0.0

[544 rows x 14 columns]

In [15]:
df_editado3 = df_novo.groupby(['STE_NAME16'])['Casos'].sum()

print(df_editado3)

STE_NAME16
Australian Capital Territory       0.0
New South Wales                 2943.0
Northern Territory                 0.0
Other Territories                  0.0
Queensland                         0.0
South Australia                    0.0
Tasmania                           0.0
Victoria                        1556.0
Western Australia                352.0
Name: Casos, dtype: float64

In [16]:
df_editado4 = df_novo.drop_duplicates(subset='STE_NAME16')

df_editado5 = df_editado4['STE_NAME16']

print(df_editado5)

0                   New South Wales
129                        Victoria
209                      Queensland
287                 South Australia
358               Western Australia
495                        Tasmania
524              Northern Territory
542    Australian Capital Territory
543               Other Territories
Name: STE_NAME16, dtype: object

In [17]:
reg_grouped = df_novo.groupby('STE_NAME16')
reg_grouped.sum().reset_index()[['STE_NAME16', 'Casos']].to_csv(r'C:\Windows\System32\0 SIG\Australian_Cases_Region.csv', index=False)

Foi criado um dataset de nome Australian_Cases_Region.csv que possui duas colunas. Uma relativa ao nome da região e outra com o número de casos confirmados nela.

In [18]:
reg_grouped = df_novo.groupby('STE_NAME16')
reg_grouped.sum().reset_index()[['STE_NAME16', 'Casos']].to_csv(r'C:\Windows\System32\0 SIG\Australian_Cases_Country.csv', index=False)

In [19]:
df_editado6 = df_novo['Casos'].sum()
print(df_editado6)

4851.0

In [20]:
df_p = df['Population'].sum()

data = {'Nome': ['Australia'], 
        'Casos': [df_editado6],
        'Population': [df_p],} 
  
df_c = pd.DataFrame(data)

df_c.to_csv(r'C:\Windows\System32\0 SIG\Australian_Cases_Country.csv', index=False)

print(df_c)

        Nome   Casos  Population
0  Australia  4851.0  24988234.0

Foi criado um dataset de nome Australian_Cases_Country.csv que somou os dados relativos a todas as regiões da Austrália. Este inclui o número total de casos e a população total do país.

De seguida, foi realizada a importação de 3 datasets time_series sobre o COVID-19 do GitHub. Sendo eles sobre o número de casos confirmados, de recuperados e de fatalidades.

In [21]:
import urllib.request
url1 = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
filename1 = 'Datasets/time_series_covid19_confirmed_global.csv'
data1 = urllib.request.urlretrieve(url1, filename1)

url2 = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv'
filename2 = 'Datasets/time_series_covid19_recovered_global.csv'
data2 = urllib.request.urlretrieve(url2, filename2)

url3 = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv'
filename3 = 'Datasets/time_series_covid19_deaths_global.csv'
data3 = urllib.request.urlretrieve(url3, filename3)

In [22]:
time_conf = read_csv(r'C:\Windows\System32\0 SIG\Datasets\time_series_covid19_confirmed_global.csv')
time_rec = read_csv(r'C:\Windows\System32\0 SIG\Datasets\time_series_covid19_recovered_global.csv')
time_d = read_csv(r'C:\Windows\System32\0 SIG\Datasets\time_series_covid19_deaths_global.csv')

print(time_conf)
print(time_rec)
print(time_d)

    Province/State         Country/Region        Lat       Long  1/22/20  \
0              NaN            Afghanistan  33.000000  65.000000        0
1              NaN                Albania  41.153300  20.168300        0
2              NaN                Algeria  28.033900   1.659600        0
3              NaN                Andorra  42.506300   1.521800        0
4              NaN                 Angola -11.202700  17.873900        0
..             ...                    ...        ...        ...      ...
261            NaN  Sao Tome and Principe   0.186360   6.613081        0
262            NaN                  Yemen  15.552727  48.516388        0
263            NaN                Comoros -11.645500  43.333300        0
264            NaN             Tajikistan  38.861034  71.276093        0
265            NaN                Lesotho -29.609988  28.233608        0

     1/23/20  1/24/20  1/25/20  1/26/20  1/27/20  ...  5/23/20  5/24/20  \
0          0        0        0        0        0  ...     9998    10582
1          0        0        0        0        0  ...      989      998
2          0        0        0        0        0  ...     8113     8306
3          0        0        0        0        0  ...      762      762
4          0        0        0        0        0  ...       61       69
..       ...      ...      ...      ...      ...  ...      ...      ...
261        0        0        0        0        0  ...      251      251
262        0        0        0        0        0  ...      212      222
263        0        0        0        0        0  ...       78       87
264        0        0        0        0        0  ...     2738     2929
265        0        0        0        0        0  ...        2        2

     5/25/20  5/26/20  5/27/20  5/28/20  5/29/20  5/30/20  5/31/20  6/1/20
0      11173    11831    12456    13036    13659    14525    15205   15750
1       1004     1029     1050     1076     1099     1122     1137    1143
2       8503     8697     8857     8997     9134     9267     9394    9513
3        763      763      763      763      764      764      764     765
4         70       70       71       74       81       84       86      86
..       ...      ...      ...      ...      ...      ...      ...     ...
261      299      441      443      458      463      479      483     484
262      233      249      256      278      283      310      323     354
263       87       87       87       87       87      106      106     106
264     3100     3266     3424     3563     3686     3807     3930    4013
265        2        2        2        2        2        2        2       2

[266 rows x 136 columns]
    Province/State         Country/Region        Lat       Long  1/22/20  \
0              NaN            Afghanistan  33.000000  65.000000        0
1              NaN                Albania  41.153300  20.168300        0
2              NaN                Algeria  28.033900   1.659600        0
3              NaN                Andorra  42.506300   1.521800        0
4              NaN                 Angola -11.202700  17.873900        0
..             ...                    ...        ...        ...      ...
248            NaN  Sao Tome and Principe   0.186360   6.613081        0
249            NaN                  Yemen  15.552727  48.516388        0
250            NaN                Comoros -11.645500  43.333300        0
251            NaN             Tajikistan  38.861034  71.276093        0
252            NaN                Lesotho -29.609988  28.233608        0

     1/23/20  1/24/20  1/25/20  1/26/20  1/27/20  ...  5/23/20  5/24/20  \
0          0        0        0        0        0  ...     1040     1075
1          0        0        0        0        0  ...      783      789
2          0        0        0        0        0  ...     4426     4784
3          0        0        0        0        0  ...      653      653
4          0        0        0        0        0  ...       18       18
..       ...      ...      ...      ...      ...  ...      ...      ...
248        0        0        0        0        0  ...        4        4
249        0        0        0        0        0  ...       11       10
250        0        0        0        0        0  ...       18       21
251        0        0        0        0        0  ...     1223     1301
252        0        0        0        0        0  ...        0        0

     5/25/20  5/26/20  5/27/20  5/28/20  5/29/20  5/30/20  5/31/20  6/1/20
0       1097     1128     1138     1209     1259     1303     1328    1428
1        795      803      812      823      851      857      872     877
2       4747     4918     5129     5277     5422     5549     5748    5894
3        663      676      676      681      684      692      694     698
4         18       18       18       18       18       18       18      18
..       ...      ...      ...      ...      ...      ...      ...     ...
248        4       68       68       68       68       68       68      68
249       10       10       10       11       11       13       14      14
250       21       21       24       24       24       26       26      26
251     1395     1417     1575     1674     1769     1865     2004    2089
252        0        0        0        1        1        1        1       1

[253 rows x 136 columns]
    Province/State         Country/Region        Lat       Long  1/22/20  \
0              NaN            Afghanistan  33.000000  65.000000        0
1              NaN                Albania  41.153300  20.168300        0
2              NaN                Algeria  28.033900   1.659600        0
3              NaN                Andorra  42.506300   1.521800        0
4              NaN                 Angola -11.202700  17.873900        0
..             ...                    ...        ...        ...      ...
261            NaN  Sao Tome and Principe   0.186360   6.613081        0
262            NaN                  Yemen  15.552727  48.516388        0
263            NaN                Comoros -11.645500  43.333300        0
264            NaN             Tajikistan  38.861034  71.276093        0
265            NaN                Lesotho -29.609988  28.233608        0

     1/23/20  1/24/20  1/25/20  1/26/20  1/27/20  ...  5/23/20  5/24/20  \
0          0        0        0        0        0  ...      216      218
1          0        0        0        0        0  ...       31       32
2          0        0        0        0        0  ...      592      600
3          0        0        0        0        0  ...       51       51
4          0        0        0        0        0  ...        4        4
..       ...      ...      ...      ...      ...  ...      ...      ...
261        0        0        0        0        0  ...        8        8
262        0        0        0        0        0  ...       39       42
263        0        0        0        0        0  ...        1        1
264        0        0        0        0        0  ...       44       46
265        0        0        0        0        0  ...        0        0

     5/25/20  5/26/20  5/27/20  5/28/20  5/29/20  5/30/20  5/31/20  6/1/20
0        219      220      227      235      246      249      257     265
1         32       33       33       33       33       33       33      33
2        609      617      623      630      638      646      653     661
3         51       51       51       51       51       51       51      51
4          4        4        4        4        4        4        4       4
..       ...      ...      ...      ...      ...      ...      ...     ...
261       11       12       12       12       12       12       12      12
262       44       49       53       57       65       77       80      84
263        1        1        2        2        2        2        2       2
264       46       47       47       47       47       47       47      47
265        0        0        0        0        0        0        0       0

[266 rows x 136 columns]

In [23]:
df_tc = time_conf.loc[time_conf['Country/Region'] == 'Australia']
df_tc.to_csv(r'C:\Windows\System32\0 SIG\Datasets\time_series_covid19_confirmed_global_AUS.csv', index=False)
print(df_tc)

                  Province/State Country/Region      Lat      Long  1/22/20  \
8   Australian Capital Territory      Australia -35.4735  149.0124        0
9                New South Wales      Australia -33.8688  151.2093        0
10            Northern Territory      Australia -12.4634  130.8456        0
11                    Queensland      Australia -28.0167  153.4000        0
12               South Australia      Australia -34.9285  138.6007        0
13                      Tasmania      Australia -41.4545  145.9707        0
14                      Victoria      Australia -37.8136  144.9631        0
15             Western Australia      Australia -31.9505  115.8605        0

    1/23/20  1/24/20  1/25/20  1/26/20  1/27/20  ...  5/23/20  5/24/20  \
8         0        0        0        0        0  ...      107      107
9         0        0        0        3        4  ...     3087     3090
10        0        0        0        0        0  ...       29       29
11        0        0        0        0        0  ...     1061     1056
12        0        0        0        0        0  ...      439      439
13        0        0        0        0        0  ...      228      228
14        0        0        0        1        1  ...     1603     1605
15        0        0        0        0        0  ...      560      560

    5/25/20  5/26/20  5/27/20  5/28/20  5/29/20  5/30/20  5/31/20  6/1/20
8       107      107      107      107      107      107      107     107
9      3092     3089     3090     3092     3092     3095     3098    3104
10       29       29       29       29       29       29       29      29
11     1057     1058     1058     1058     1058     1058     1058    1059
12      439      440      440      440      440      440      440     440
13      228      228      228      228      228      228      228     228
14     1610     1618     1628     1634     1645     1649     1653    1663
15      564      570      570      577      585      586      589     591

[8 rows x 136 columns]

Foi criado um csv chamado time_series_covid19_confirmed_global_AUS.csv com dados às regiões da Austrália, sendo que estes incluem o número de novos casos confirmados de COVID-19 que cada uma registou a cada dia.

In [24]:
df_r = time_rec.loc[time_rec['Country/Region'] == 'Australia']
df_r.to_csv(r'C:\Windows\System32\0 SIG\Datasets\time_series_covid19_recovered_global_AUS.csv', index=False)
print(df_r)

                  Province/State Country/Region      Lat      Long  1/22/20  \
8   Australian Capital Territory      Australia -35.4735  149.0124        0
9                New South Wales      Australia -33.8688  151.2093        0
10            Northern Territory      Australia -12.4634  130.8456        0
11                    Queensland      Australia -28.0167  153.4000        0
12               South Australia      Australia -34.9285  138.6007        0
13                      Tasmania      Australia -41.4545  145.9707        0
14                      Victoria      Australia -37.8136  144.9631        0
15             Western Australia      Australia -31.9505  115.8605        0

    1/23/20  1/24/20  1/25/20  1/26/20  1/27/20  ...  5/23/20  5/24/20  \
8         0        0        0        0        0  ...      104      104
9         0        0        0        0        0  ...     2653     2656
10        0        0        0        0        0  ...       29       29
11        0        0        0        0        0  ...     1041     1038
12        0        0        0        0        0  ...      435      435
13        0        0        0        0        0  ...      199      200
14        0        0        0        0        0  ...     1498     1520
15        0        0        0        0        0  ...      549      549

    5/25/20  5/26/20  5/27/20  5/28/20  5/29/20  5/30/20  5/31/20  6/1/20
8       104      104      104      104      104      104      104     104
9      2661     2663     2670     2666     2683     2685     2685    2687
10       29       29       29       29       29       29       29      29
11     1039     1044     1045     1045     1045     1046     1046    1048
12      435      435      435      435      435      435      435     435
13      202      203      203      203      205      206      207     207
14     1533     1533     1544     1544     1553     1557     1560    1563
15      549      549      549      550      551      552      552     553

[8 rows x 136 columns]

Foi criado um csv chamado time_series_covid19_recovered_global_AUS.csv com dados às regiões da Austrália, sendo que estes incluem o número de recuperados que cada uma registou a cada dia.

In [25]:
df_d = time_d.loc[time_d['Country/Region'] == 'Australia']
df_d.to_csv(r'C:\Windows\System32\0 SIG\Datasets\time_series_covid19_deaths_global_AUS.csv', index=False)
print(df_d)

                  Province/State Country/Region      Lat      Long  1/22/20  \
8   Australian Capital Territory      Australia -35.4735  149.0124        0
9                New South Wales      Australia -33.8688  151.2093        0
10            Northern Territory      Australia -12.4634  130.8456        0
11                    Queensland      Australia -28.0167  153.4000        0
12               South Australia      Australia -34.9285  138.6007        0
13                      Tasmania      Australia -41.4545  145.9707        0
14                      Victoria      Australia -37.8136  144.9631        0
15             Western Australia      Australia -31.9505  115.8605        0

    1/23/20  1/24/20  1/25/20  1/26/20  1/27/20  ...  5/23/20  5/24/20  \
8         0        0        0        0        0  ...        3        3
9         0        0        0        0        0  ...       48       48
10        0        0        0        0        0  ...        0        0
11        0        0        0        0        0  ...        6        6
12        0        0        0        0        0  ...        4        4
13        0        0        0        0        0  ...       13       13
14        0        0        0        0        0  ...       19       19
15        0        0        0        0        0  ...        9        9

    5/25/20  5/26/20  5/27/20  5/28/20  5/29/20  5/30/20  5/31/20  6/1/20
8         3        3        3        3        3        3        3       3
9        48       48       48       48       48       48       48      48
10        0        0        0        0        0        0        0       0
11        6        7        7        7        7        7        7       6
12        4        4        4        4        4        4        4       4
13       13       13       13       13       13       13       13      13
14       19       19       19       19       19       19       19      19
15        9        9        9        9        9        9        9       9

[8 rows x 136 columns]

Foi criado um csv chamado time_series_covid19_deaths_global_AUS.csv com dados às regiões da Austrália, sendo que estes incluem o número de fatalidades que cada uma registou a cada dia.

In [26]:
time_c_transposed = df_tc.set_index('Province/State').T
time_c_2 = time_c_transposed.drop(['Country/Region','Lat', 'Long'])
print(time_c_2)

col1 = time_c_2.columns.values.tolist()
print(col1)

Province/State Australian Capital Territory New South Wales  \
1/22/20                                   0               0
1/23/20                                   0               0
1/24/20                                   0               0
1/25/20                                   0               0
1/26/20                                   0               3
...                                     ...             ...
5/28/20                                 107            3092
5/29/20                                 107            3092
5/30/20                                 107            3095
5/31/20                                 107            3098
6/1/20                                  107            3104

Province/State Northern Territory Queensland South Australia Tasmania  \
1/22/20                         0          0               0        0
1/23/20                         0          0               0        0
1/24/20                         0          0               0        0
1/25/20                         0          0               0        0
1/26/20                         0          0               0        0
...                           ...        ...             ...      ...
5/28/20                        29       1058             440      228
5/29/20                        29       1058             440      228
5/30/20                        29       1058             440      228
5/31/20                        29       1058             440      228
6/1/20                         29       1059             440      228

Province/State Victoria Western Australia
1/22/20               0                 0
1/23/20               0                 0
1/24/20               0                 0
1/25/20               0                 0
1/26/20               1                 0
...                 ...               ...
5/28/20            1634               577
5/29/20            1645               585
5/30/20            1649               586
5/31/20            1653               589
6/1/20             1663               591

[132 rows x 8 columns]
['Australian Capital Territory', 'New South Wales', 'Northern Territory', 'Queensland', 'South Australia', 'Tasmania', 'Victoria', 'Western Australia']

In [27]:
time = pd.DataFrame(time_c_2.iloc[:,5:].sum(axis=1),columns=['Total_Confirmados'])
time.to_csv(r'C:\Windows\System32\0 SIG\Datasets\time_series_covid19_global_AUS.csv', index=False)
print(time)

         Total_Confirmados
1/22/20                0.0
1/23/20                0.0
1/24/20                0.0
1/25/20                0.0
1/26/20                1.0
...                    ...
5/28/20             2439.0
5/29/20             2458.0
5/30/20             2463.0
5/31/20             2470.0
6/1/20              2482.0

[132 rows x 1 columns]

In [28]:
time_r_transposed = df_r.set_index('Province/State').T
time_r_2 = time_r_transposed.drop(['Country/Region','Lat', 'Long'])
print(time_r_2)

col2 = time_r_2.columns.values.tolist()
print(col2)

Province/State Australian Capital Territory New South Wales  \
1/22/20                                   0               0
1/23/20                                   0               0
1/24/20                                   0               0
1/25/20                                   0               0
1/26/20                                   0               0
...                                     ...             ...
5/28/20                                 104            2666
5/29/20                                 104            2683
5/30/20                                 104            2685
5/31/20                                 104            2685
6/1/20                                  104            2687

Province/State Northern Territory Queensland South Australia Tasmania  \
1/22/20                         0          0               0        0
1/23/20                         0          0               0        0
1/24/20                         0          0               0        0
1/25/20                         0          0               0        0
1/26/20                         0          0               0        0
...                           ...        ...             ...      ...
5/28/20                        29       1045             435      203
5/29/20                        29       1045             435      205
5/30/20                        29       1046             435      206
5/31/20                        29       1046             435      207
6/1/20                         29       1048             435      207

Province/State Victoria Western Australia
1/22/20               0                 0
1/23/20               0                 0
1/24/20               0                 0
1/25/20               0                 0
1/26/20               0                 0
...                 ...               ...
5/28/20            1544               550
5/29/20            1553               551
5/30/20            1557               552
5/31/20            1560               552
6/1/20             1563               553

[132 rows x 8 columns]
['Australian Capital Territory', 'New South Wales', 'Northern Territory', 'Queensland', 'South Australia', 'Tasmania', 'Victoria', 'Western Australia']

In [29]:
time = pd.concat([time,pd.DataFrame(time_r_2.iloc[:,5:].sum(axis=1),columns=['Total_Recuperados'])],axis=1)
time.to_csv(r'C:\Windows\System32\0 SIG\Datasets\time_series_covid19_global_AUS.csv', index=False)
print(time)

         Total_Confirmados  Total_Recuperados
1/22/20                0.0                0.0
1/23/20                0.0                0.0
1/24/20                0.0                0.0
1/25/20                0.0                0.0
1/26/20                1.0                0.0
...                    ...                ...
5/28/20             2439.0             2297.0
5/29/20             2458.0             2309.0
5/30/20             2463.0             2315.0
5/31/20             2470.0             2319.0
6/1/20              2482.0             2323.0

[132 rows x 2 columns]

In [30]:
time_d_transposed = df_d.set_index('Province/State').T
time_d_2 = time_d_transposed.drop(['Country/Region','Lat', 'Long'])
print(time_d_2)

col3 = time_d_2.columns.values.tolist()
print(col3)

Province/State Australian Capital Territory New South Wales  \
1/22/20                                   0               0
1/23/20                                   0               0
1/24/20                                   0               0
1/25/20                                   0               0
1/26/20                                   0               0
...                                     ...             ...
5/28/20                                   3              48
5/29/20                                   3              48
5/30/20                                   3              48
5/31/20                                   3              48
6/1/20                                    3              48

Province/State Northern Territory Queensland South Australia Tasmania  \
1/22/20                         0          0               0        0
1/23/20                         0          0               0        0
1/24/20                         0          0               0        0
1/25/20                         0          0               0        0
1/26/20                         0          0               0        0
...                           ...        ...             ...      ...
5/28/20                         0          7               4       13
5/29/20                         0          7               4       13
5/30/20                         0          7               4       13
5/31/20                         0          7               4       13
6/1/20                          0          6               4       13

Province/State Victoria Western Australia
1/22/20               0                 0
1/23/20               0                 0
1/24/20               0                 0
1/25/20               0                 0
1/26/20               0                 0
...                 ...               ...
5/28/20              19                 9
5/29/20              19                 9
5/30/20              19                 9
5/31/20              19                 9
6/1/20               19                 9

[132 rows x 8 columns]
['Australian Capital Territory', 'New South Wales', 'Northern Territory', 'Queensland', 'South Australia', 'Tasmania', 'Victoria', 'Western Australia']

In [31]:
time = pd.concat([time,pd.DataFrame(time_d_2.iloc[:,5:].sum(axis=1),columns=['Total_Fatalidades'])],axis=1)
time.to_csv(r'C:\Windows\System32\0 SIG\Datasets\time_series_covid19_global_AUS.csv', index=False)
print(time)

         Total_Confirmados  Total_Recuperados  Total_Fatalidades
1/22/20                0.0                0.0                0.0
1/23/20                0.0                0.0                0.0
1/24/20                0.0                0.0                0.0
1/25/20                0.0                0.0                0.0
1/26/20                1.0                0.0                0.0
...                    ...                ...                ...
5/28/20             2439.0             2297.0               41.0
5/29/20             2458.0             2309.0               41.0
5/30/20             2463.0             2315.0               41.0
5/31/20             2470.0             2319.0               41.0
6/1/20              2482.0             2323.0               41.0

[132 rows x 3 columns]

In [32]:
time['Data'] = time.index
time.to_csv(r'C:\Windows\System32\0 SIG\Datasets\time_series_covid19_global_AUS.csv', index=False)
print(time)

         Total_Confirmados  Total_Recuperados  Total_Fatalidades     Data
1/22/20                0.0                0.0                0.0  1/22/20
1/23/20                0.0                0.0                0.0  1/23/20
1/24/20                0.0                0.0                0.0  1/24/20
1/25/20                0.0                0.0                0.0  1/25/20
1/26/20                1.0                0.0                0.0  1/26/20
...                    ...                ...                ...      ...
5/28/20             2439.0             2297.0               41.0  5/28/20
5/29/20             2458.0             2309.0               41.0  5/29/20
5/30/20             2463.0             2315.0               41.0  5/30/20
5/31/20             2470.0             2319.0               41.0  5/31/20
6/1/20              2482.0             2323.0               41.0   6/1/20

[132 rows x 4 columns]

Foi criado um csv chamado time_series_covid19_global_AUS.csv com dados relativos ao valor total de casos confirmados, do número de recuperados e de fatalidades para cada data na Austrália.