In [1]:
import pandas as pd

In [2]:
def read_csv(filename):
    df = pd.read_csv(filename)
    return df

In [3]:
input = read_csv(r'C:\Windows\System32\0 SIG\AU_adm\AUS_adm2.csv')
print(input)

      OBJECTID  ID_0  ISO     NAME_0  ID_1                        NAME_1  \
0            1    15  AUS  Australia     1   Ashmore and Cartier Islands
1            2    15  AUS  Australia     2  Australian Capital Territory
2            3    15  AUS  Australia     2  Australian Capital Territory
3            4    15  AUS  Australia     2  Australian Capital Territory
4            5    15  AUS  Australia     2  Australian Capital Territory
...        ...   ...  ...        ...   ...                           ...
1390      1391    15  AUS  Australia    11             Western Australia
1391      1392    15  AUS  Australia    11             Western Australia
1392      1393    15  AUS  Australia    11             Western Australia
1393      1394    15  AUS  Australia    11             Western Australia
1394      1395    15  AUS  Australia    11             Western Australia

      ID_2                  NAME_2   TYPE_2 ENGTYPE_2  NL_NAME_2 VARNAME_2
0        1                   n.a.1  Unknown   Unknown        NaN       NaN
1        2                   Acton  Unknown   Unknown        NaN       NaN
2        3                 Ainslie  Unknown   Unknown        NaN       NaN
3        4                  Amaroo  Unknown   Unknown        NaN       NaN
4        5                  Aranda  Unknown   Unknown        NaN       NaN
...    ...                     ...      ...       ...        ...       ...
1390  1391             Wyalkatchem    Shire     Shire        NaN       NaN
1391  1392  Wyndham-East Kimberley    Shire     Shire        NaN       NaN
1392  1393                  Yalgoo    Shire     Shire        NaN       NaN
1393  1394                 Yilgarn    Shire     Shire        NaN       NaN
1394  1395                    York    Shire     Shire        NaN       NaN

[1395 rows x 12 columns]

In [4]:
print(input.head(5))

   OBJECTID  ID_0  ISO     NAME_0  ID_1                        NAME_1  ID_2  \
0         1    15  AUS  Australia     1   Ashmore and Cartier Islands     1
1         2    15  AUS  Australia     2  Australian Capital Territory     2
2         3    15  AUS  Australia     2  Australian Capital Territory     3
3         4    15  AUS  Australia     2  Australian Capital Territory     4
4         5    15  AUS  Australia     2  Australian Capital Territory     5

    NAME_2   TYPE_2 ENGTYPE_2  NL_NAME_2 VARNAME_2
0    n.a.1  Unknown   Unknown        NaN       NaN
1    Acton  Unknown   Unknown        NaN       NaN
2  Ainslie  Unknown   Unknown        NaN       NaN
3   Amaroo  Unknown   Unknown        NaN       NaN
4   Aranda  Unknown   Unknown        NaN       NaN

In [5]:
df = pd.read_csv(r"C:\Windows\System32\0 SIG\AU_adm\AUS_adm2.csv")
print(df.head(5))

   OBJECTID  ID_0  ISO     NAME_0  ID_1                        NAME_1  ID_2  \
0         1    15  AUS  Australia     1   Ashmore and Cartier Islands     1
1         2    15  AUS  Australia     2  Australian Capital Territory     2
2         3    15  AUS  Australia     2  Australian Capital Territory     3
3         4    15  AUS  Australia     2  Australian Capital Territory     4
4         5    15  AUS  Australia     2  Australian Capital Territory     5

    NAME_2   TYPE_2 ENGTYPE_2  NL_NAME_2 VARNAME_2
0    n.a.1  Unknown   Unknown        NaN       NaN
1    Acton  Unknown   Unknown        NaN       NaN
2  Ainslie  Unknown   Unknown        NaN       NaN
3   Amaroo  Unknown   Unknown        NaN       NaN
4   Aranda  Unknown   Unknown        NaN       NaN

In [6]:
df1 = pd.read_csv(r"C:\Windows\System32\0 SIG\AU_adm\AUS_adm2.csv", skiprows = 1)
print(df1.head(5))

   1  15  AUS  Australia  1.1   Ashmore and Cartier Islands  1.2    n.a.1  \
0  2  15  AUS  Australia    2  Australian Capital Territory    2    Acton
1  3  15  AUS  Australia    2  Australian Capital Territory    3  Ainslie
2  4  15  AUS  Australia    2  Australian Capital Territory    4   Amaroo
3  5  15  AUS  Australia    2  Australian Capital Territory    5   Aranda
4  6  15  AUS  Australia    2  Australian Capital Territory    6    Banks

   Unknown Unknown.1  NA NA.1
0  Unknown   Unknown NaN  NaN
1  Unknown   Unknown NaN  NaN
2  Unknown   Unknown NaN  NaN
3  Unknown   Unknown NaN  NaN
4  Unknown   Unknown NaN  NaN

In [7]:
print(df['NAME_2'].dtypes)

object

In [8]:
print(df[['NAME_2', 'TYPE_2']])

                      NAME_2   TYPE_2
0                      n.a.1  Unknown
1                      Acton  Unknown
2                    Ainslie  Unknown
3                     Amaroo  Unknown
4                     Aranda  Unknown
...                      ...      ...
1390             Wyalkatchem    Shire
1391  Wyndham-East Kimberley    Shire
1392                  Yalgoo    Shire
1393                 Yilgarn    Shire
1394                    York    Shire

[1395 rows x 2 columns]

In [9]:
print(df['NAME_2'][1])

Acton

In [10]:
df = read_csv(r'C:\Windows\System32\0 SIG\Australian_Cases_by_LGA.csv')
print(df)

     OBJECTID  LGA_CODE19                   LGA_NAME19  \
0           1       10050                   Albury (C)
1           2       10130        Armidale Regional (A)
2           3       10250                  Ballina (A)
3           4       10300                Balranald (A)
4           5       10470        Bathurst Regional (A)
..        ...         ...                          ...
539       540       74660              West Arnhem (R)
540       541       74680                West Daly (R)
541       542       79399            Unincorporated NT
542       543       89399           Unincorporated ACT
543       544       99399  Unincorp. Other Territories

                       STE_NAME16  AREASQKM19  Population  Cases  \
0                 New South Wales    305.9459     53767.0    8.0
1                 New South Wales   8620.6990     30707.0    4.0
2                 New South Wales    484.9389     44208.0    8.0
3                 New South Wales  21690.6753      2340.0    NaN
4                 New South Wales   3817.8646     43206.0    9.0
..                            ...         ...         ...    ...
539            Northern Territory  49675.0343      6902.0    NaN
540            Northern Territory  14069.6979      3649.0    NaN
541            Northern Territory  19789.9972      7379.0    NaN
542  Australian Capital Territory   2358.1720    420960.0    NaN
543             Other Territories    256.3162         NaN    NaN

                LastUpdated  Shape__Area  Shape__Length Cases_Str  PopNorm
0    2020/04/15 00:00:00+00     0.030587       1.260390         8   6720.0
1    2020/04/17 00:00:00+00     0.808783       6.883743         4   7676.0
2    2020/04/14 00:00:00+00     0.044858       1.422609         8   5526.0
3    1970/01/01 00:00:00+00     2.115393      11.197395       NaN      NaN
4    2020/03/29 00:00:00+00     0.370170       5.242297         9   4800.0
..                      ...          ...            ...       ...      ...
539  1970/01/01 00:00:00+00     4.131012      22.885151       NaN      NaN
540  1970/01/01 00:00:00+00     1.178221       7.483037       NaN      NaN
541  1970/01/01 00:00:00+00     1.649671      19.064581       NaN      NaN
542  1970/01/01 00:00:00+00     0.234257       2.967954       NaN      NaN
543  1970/01/01 00:00:00+00     0.022676       2.845384       NaN      NaN

[544 rows x 12 columns]

In [11]:
df_editado = df['LGA_NAME19'].str.replace(r"\s\(.*\)","")
print(df_editado)

0                           Albury
1                Armidale Regional
2                          Ballina
3                        Balranald
4                Bathurst Regional
                  ...
539                    West Arnhem
540                      West Daly
541              Unincorporated NT
542             Unincorporated ACT
543    Unincorp. Other Territories
Name: LGA_NAME19, Length: 544, dtype: object

In [12]:
df_editado2 = df['Cases'].fillna(0)
print(df_editado2)

0      8.0
1      4.0
2      8.0
3      0.0
4      9.0
      ...
539    0.0
540    0.0
541    0.0
542    0.0
543    0.0
Name: Cases, Length: 544, dtype: float64

In [13]:
df['Nomes'] = df_editado
df['Casos'] = df_editado2
df.to_csv(r'C:\Windows\System32\0 SIG\Australian_Cases.csv', index=False)

In [14]:
df_novo = read_csv(r'C:\Windows\System32\0 SIG\Australian_Cases.csv')
print(df_novo)

     OBJECTID  LGA_CODE19                   LGA_NAME19  \
0           1       10050                   Albury (C)
1           2       10130        Armidale Regional (A)
2           3       10250                  Ballina (A)
3           4       10300                Balranald (A)
4           5       10470        Bathurst Regional (A)
..        ...         ...                          ...
539       540       74660              West Arnhem (R)
540       541       74680                West Daly (R)
541       542       79399            Unincorporated NT
542       543       89399           Unincorporated ACT
543       544       99399  Unincorp. Other Territories

                       STE_NAME16  AREASQKM19  Population  Cases  \
0                 New South Wales    305.9459     53767.0    8.0
1                 New South Wales   8620.6990     30707.0    4.0
2                 New South Wales    484.9389     44208.0    8.0
3                 New South Wales  21690.6753      2340.0    NaN
4                 New South Wales   3817.8646     43206.0    9.0
..                            ...         ...         ...    ...
539            Northern Territory  49675.0343      6902.0    NaN
540            Northern Territory  14069.6979      3649.0    NaN
541            Northern Territory  19789.9972      7379.0    NaN
542  Australian Capital Territory   2358.1720    420960.0    NaN
543             Other Territories    256.3162         NaN    NaN

                LastUpdated  Shape__Area  Shape__Length Cases_Str  PopNorm  \
0    2020/04/15 00:00:00+00     0.030587       1.260390         8   6720.0
1    2020/04/17 00:00:00+00     0.808783       6.883743         4   7676.0
2    2020/04/14 00:00:00+00     0.044858       1.422609         8   5526.0
3    1970/01/01 00:00:00+00     2.115393      11.197395       NaN      NaN
4    2020/03/29 00:00:00+00     0.370170       5.242297         9   4800.0
..                      ...          ...            ...       ...      ...
539  1970/01/01 00:00:00+00     4.131012      22.885151       NaN      NaN
540  1970/01/01 00:00:00+00     1.178221       7.483037       NaN      NaN
541  1970/01/01 00:00:00+00     1.649671      19.064581       NaN      NaN
542  1970/01/01 00:00:00+00     0.234257       2.967954       NaN      NaN
543  1970/01/01 00:00:00+00     0.022676       2.845384       NaN      NaN

                           Nomes  Casos
0                         Albury    8.0
1              Armidale Regional    4.0
2                        Ballina    8.0
3                      Balranald    0.0
4              Bathurst Regional    9.0
..                           ...    ...
539                  West Arnhem    0.0
540                    West Daly    0.0
541            Unincorporated NT    0.0
542           Unincorporated ACT    0.0
543  Unincorp. Other Territories    0.0

[544 rows x 14 columns]

In [17]:
df_editado3 = df_novo.groupby(['STE_NAME16'])['Casos'].sum()

print(df_editado3)

STE_NAME16
Australian Capital Territory       0.0
New South Wales                 2943.0
Northern Territory                 0.0
Other Territories                  0.0
Queensland                         0.0
South Australia                    0.0
Tasmania                           0.0
Victoria                        1556.0
Western Australia                352.0
Name: Casos, dtype: float64

In [42]:
df_editado4 = df_novo.drop_duplicates(subset='STE_NAME16')

df_editado5 = df_editado4['STE_NAME16']

print(df_editado5)

0                   New South Wales
129                        Victoria
209                      Queensland
287                 South Australia
358               Western Australia
495                        Tasmania
524              Northern Territory
542    Australian Capital Territory
543               Other Territories
Name: STE_NAME16, dtype: object

In [46]:
reg_grouped = df_novo.groupby('STE_NAME16')
reg_grouped.sum().reset_index()[['STE_NAME16', 'Casos']].to_csv(r'C:\Windows\System32\0 SIG\Australian_Cases_Region.csv', index=False)

In [ ]:
reg_grouped = df_novo.groupby('STE_NAME16')
reg_grouped.sum().reset_index()[['STE_NAME16', 'Casos']].to_csv(r'C:\Windows\System32\0 SIG\Australian_Cases_Country.csv', index=False)

In [72]:
df_editado6 = df_novo['Casos'].sum()
print(df_editado6)

4851.0

In [75]:
data = {'Nome': ['Australia'], 
        'Casos': [df_editado6]} 
  
df_c = pd.DataFrame(data)

df_c.to_csv(r'C:\Windows\System32\0 SIG\Australian_Cases_Country.csv', index=False)

print(df_c)

        Nome   Casos
0  Australia  4851.0